.singlePageForm {
  width: 50vw;
  max-height: 94vh;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;

  .form-container {
    background-color: #f9f9f9;
    height: 65vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    .label-container {
      position: relative;

      &:active>label {
        top: 0vh;
        color: #9670ff;
      }

      &:active>input {
        border-color: #9670ff;
      }

      label {
        position: absolute;
        top: 32.5%;
        left: 2.5%;
        transition: all 0.25s ease;
        pointer-events: none;
        /* MAKES IT NON CLICKABLE :) */
      }

      input {
        height: 30px;
        min-width: 400px;
        background-color: transparent;
        border: none;
        border: 1px solid #cfcfcf;
        border-radius: 4px;
        margin: 20px 0;
        outline: none;
        padding-left: 10px;

        &::placeholder {
          color: #969696;
          padding-left: 10px;
        }

        &:focus+label {
          top: 0vh;
          color: #9670ff;
        }

        &:focus {
          border-color: #9670ff;
        }

        &:not(:placeholder-shown)+label {
          top: 0vh;
          color: #9670ff;
        }

        &:not(:placeholder-shown) {
          border-color: #9670ff;
        }

      }
    }

    button {
      background-color: #9670ff;
      border: none;
      padding: 12px 21px;
      color: white;
      border-radius: 4px;
      transition: all 0.25s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

  }

  @media only screen and (max-width: 1919px) {
    input {
      background-color: lightgreen;
    }
  }

}

// input[type=text] {
//   background-color: white;
//   background-image: url('searchicon.png');
//   background-position: 10px 10px;
//   background-repeat: no-repeat;
//   padding-left: 40px;
// }